<div>
  <p> Nombre:
  <span> <%= @recomendation.user.name %> - <%= @recomendation.user.email %></span>
  </p>
  <br></br>
</div>

<div>
  <p>
    Documento:
    <span><%= @recomendation.tema %></span>
  </p>
  <p>
    Seccion:
    <span><%= @recomendation.seccion %></span>
  </p>
  <p>
    Imagen:
    <span><%= @recomendation.imagen %></span>
  </p>
  <p>
    Descripción:
    <span><%= @recomendation.recomendacion %></span>
  </p>
  <p>
    Trigger:
    <span><%= @recomendation.trigger %></span>
  </p>
  <p>
    Efecto:
    <span><%= @recomendation.efecto %></span>
  </p>
  <p>
    Mitigación:
    <span><%= @recomendation.mitigacion %></span>
  </p>
  <p>
    Acciones:
    <span><%= @recomendation.accion %></span>
  </p>
</div>
